/*Global block*/
{
    FontSize: 12;
}

name{
    Color: frgb(.2, .3, .6);
    Font: "some bullshit";
    FontSize: 2;
    BorderWidth: 3.50px;
    Text: true;
    int: 2;
    float: 3.2;   
}
name.subname{
    FontSize: 3;
}
name.subname.subbername{
    FontSize: 4;
}
name.subname.subbername|state{
    // FontSize: 5;
    // Commenting 
}
/*
L 
O
N
G

C
O
M
M
E
N
T
*/

// Finalizing 

